# Dependencies
node_modules
.pnpm-store

# Next.js
.next
out

# Build
dist
build

# Environment
.env
.env.local
.env.*.local

# Supabase
supabase/.branches
supabase/.temp

# Turbo
.turbo

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Sentry
.sentryclirc
